@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
}

table {
    border-collapse: collapse;
    padding: 10px;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

.legend {
    background-color: gray;
    color: white;
}

#med1, #med2 {
    text-align: left;
}